/* Color styles */
$body-background-color: #0c0c0c;
$header-background-color: #000000;
$jumbo-color: #252525;
$main-red-color: #FF0000;
$contrast-color: #FFFFFF;

$basefont: "Roboto", sans-serif;
$fontSplash: "Lugrasimo", 'cursive';